{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-light">
                        <h5 class="card-title" style="font-weight: bold">Underground Cafe| Outlets Details</h5>
                        </div>
                            <div class="card-body table-full-width">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>                                          
                                            <th scope="col">Full Address</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for outlet in outlets %}
                                        <tr>
                                            <th scope="row">{{outlet.id}}</th>
                                            <td>{{outlet.name}}</td>
                                            <td>{{outlet.full_address}}</td>
                                            <td>{{outlet.phone_no}}</td>
                                            <td>                                            
                                                <a href="#" data-toggle="modal" data-target="#{{outlet.id}}" class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-eye ml-3" style="color:blue"></i></a>
                                                <a href="{% url 'update_outlet' outlet.id %}" class="edit" title="Edit" data-toggle="tooltip"><i class="fas fa-edit ml-3" style="color:Green"></i></a>
                                                <a href="{% url 'delete_outlet' outlet.id %}" class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash ml-3" style="color:red"></i></a>
                                            </td>

                                            <div class="modal fade" id="{{outlet.id}}" data-backdrop="static" data-keyboard="false">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:360px;height: auto">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">outlet Details</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p style="font-weight: bold">Name: {{outlet.name}}</p>
                                                            <p style="font-weight: bold">Full Address: {{outlet.full_address}}</p>
                                                            <p style="font-weight: bold">Phone Number: {{outlet.phone_no}}</p>
                                                        </div>
                                                        <div class="modal-footer text-center">
                                                            <button type="button" class="btn btn-danger centered" style="align-self:center" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>  
                                        {% endfor %}
                                    </tbody>
                                </table> 
                                <a class="btn btn-info btn-fill" style="margin-left: 40%" href="{% url 'add_outlet' %}">
                                    Add outlet</a>                                 
                            </div>
                        </div>    
                    </div>
                <div class="col-md-2"></div>
            </div>
{% endblock %}