{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="height: auto">
    <div id="main_body" class="shadow-sm p-3 mb-5 bg-white rounded" style="background-color: palegoldenrod">

        <!-- div for all table list -->
        <div style="height: 200px; width:500px;" class="shadow-sm p-3 mb-5 bg-white rounded">

            table list here all



        </div>
        <!-- end  div for all table list -->
        <!-- div for menu like add table -->
        <div class="shadow-sm p-3 mb-5 bg-white rounded"
            style="height: 200px; width: 150px;  background-color: black;margin-left: auto; margin-top:-250px;">

            <input type="submit" style=" margin-left: 3px; margin-top:2spx;" class="btn btn-warning" name="change_table"
                value="Change Table">
            <input id="" style=" margin-left: 30px; margin-top: 10px;" type="button" class="btn btn-success"
                name="add_item" value="Add Item">

            <input type="button" style=" margin-left: 40px; margin-top: 10px;" class="btn btn-danger" name="Refresh"
                value="Refresh">
            <button type="button" style=" margin-left: 38px; margin-top: 10px;" class="btn btn-info btn-sm"
                onclick="tablefunction()">Add table</button>
            <script>
                function tablefunction() {
                    var myWindow = window.open(href = "{% url 'table' %}", target = "_blank", "top=100px,left=400px,width=580px,height=520px");
                }
            </script>
        </div>
        <!--  end div for menu like add table -->



        <!-- div having search options -->


        <!--  end of div table having search options -->

        <!-- menu item side bar -->
        <div class="item_sidebars shadow-sm p-3 mb-5 bg-white rounded">
            <select style="margin-top: 10px;" class="shadow-none p-2 mb-3 bg-white rounded">
                <option>veg</option>
                <option>chicken</option>
            </select>
        </div>
    </div>
    <div class="search_div">
        <div style="margin-top:3px; display: block;">
            <input style="margin-right: 12px; height: 30px; margin-top: 5px;" type="text"
                class="shadow-none p-2 mb-3 bg-white rounded" name="select_table" placeholder="select table">
            <input type="text" class="shadow-none p-2 mb-3 bg-white rounded" name="search_code"
                placeholder="search by code" style="height: 30px;">
            <input type="text" style="height: 30px;" class="shadow-none p-2 mb-3 bg-white rounded" name="search_name"
                placeholder="search by name">
            <input type="button" class="btn btn-info btn-sm" name="delete" value="delete">
        </div>
    </div>
    <!--  end menu item side bar  -->
    <div class="item_sidebar shadow-bg p-3 mb-5 bg-white rounded">
        cndncdncmsdnj

    </div>

    <!-- start of account div -->
    <div class="start_account_div" style="background-color: lightblue; height: auto;">

        <!-- start of top nav bar     -->
        <div class="topnav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Dine in</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Take away <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home delivery</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
        <!-- end of top navbar -->
        <!-- start kot billing nav bar -->
        <div style="height: 30px; width:auto;">


            <b><a href="#news" style="margin-left:30px;">KOT</a></b>
            <b><a href="#kot" style="margin-left:50px;">billing</a></b>



        </div>
        <!-- end of kot nav bar -->


        <!-- start of table -->
        <div style="border:1px red; height:30px; background:lavender; margin-bottom: auto;text-align:right">
            <span>
                <label>KOT kot no</label>
                <input type="text" style="width:50px;height: 30px; margin-left: 40px;" name=table_name_bil
                    class="shadow-none p-1 mb-1 bg-white rounded" ;>
            </span>
        </div>

        <div class="modal-body">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <table style="width: 100%;  height: auto;">
                    <tr>
                        <th>Item</th>
                        <th>Qy</th>
                        <th>price</th>
                        <th>Amt</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>3</td>
                            <td>100</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>3</td>
                            <td>100</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>french fry</td>
                            <td>12 plate</td>
                            <td>100</td>
                            <td>1200</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="shadow-sm p-1 mb-1 bg-white rounded"
            style=" height:auto; width:500px; margin-left:auto; margin-top:autopx;border: 1px black;">
            <label>client
                <span class="inline">
                    <input type="text" class="customer_div" name="customer_name" style="border-radius: 4px;">

                    <input type="number" class="customer_div glyphicon glyphicon-user" name="customer_number"
                        style="width: 85px; height:24px; border-radius: 4px;">
            </label>
            <label> show on bill
                <input type="checkbox" name="show_onbill">
            </label>
            </span>
            <span>
                <label>kot note
                    <input type="text" name="kot_note" style="width: 95px; height: 24px; border-radius: 4px;">
                    <input type=submit name=submit value="clear KOT" class="btn btn-secondary active btn-sm">

                </label>
            </span>

            <div style="height:30px; width:auto;">
                <label style="font-family: rosemary;color:black">Total Bill</label>
                <input type="number" name="total_bill" class="total_bill">
            </div>
            <span>
                <input type=submit id="print" name="print" value="print" class="btn btn-warning active btn-sm">
                <input type=submit id="print" name="save" value="save" class="btn btn-danger active btn-sm">
                <input type=submit style="margin: 2px; border-radius: 10px;" name="both" value="print & save"
                    class="btn btn-secondary active btn-sm">
            </span>
        </div>

    </div>

    <!-- end of table -->

    <!-- start of customer detail in bill div -->


    <!-- end of customer detail in bill div -->


</div>
</div>

<!-- end of account div -->
</div>



{% endblock content %}